@import "css/breakpoints";
@import "css/variables";

$module: "card";

.#{$module}{
    display: flex;
    border-bottom: 1px solid $grey-std;
    padding: $margin-std * 2 0;
    position: relative;

    @include desktop {
        padding: $margin-std-big 0;
    }
    
    &__img-container{
        flex: 3;
        img {
            width: 100%;
        }
        
    }

    &__info{
        flex: 7;
        padding-right: $padding-std * 2;
        padding-left: $padding-std * 2;
    }

    &__name {
       font-size: $font-size-big;
       margin-bottom: $margin-std;
       
    }

    &__feature {
        font-size: $font-size-std;
        color: $font-grey-std;
        margin-bottom: $margin-std;

        .fa-check {
            font-size: $font-size-small;
            margin-right: $margin-std-small;
            color: $color-highlight;
        }

    }

    &__credit {
        position: absolute;
        right: 0;
        font-size: $font-size-std;
    }

    &__btn {
        display: flex;
        align-items: center;
        .btn {
            background-color: transparent;
            border: none;
        }
        .fa-plus, .fa-minus {
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 10px;
            background-color: $color-highlight;
            color: #fff;
        }

        .fa-chevron-right {
            padding: $padding-std;
            font-size: $font-size-std;
            color: $font-grey-std;
            width: 20px;
            height: 20px;
        }
    }

    
    @include desktop {
        flex-direction: row;
    }
}