$field-width: 200px;
$field-height: 30px;
$field-border-radius: 4px;

$btn-border-radius: 24px;

$margin-std: 8px;
$margin-std-big: 32px;

$padding-std: 8px;

$font-size-std: 14px;
$font-size-big: 16px;

$lightGrey: #F6F7F8;